@page
@model LockoutModel
@{
    ViewData["Title"] = "Khoa tai khoan";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tai khoan bi tam khoa do sai mat khau 5 lan. Hay thu lai sau</p>
</header>
