@page "/xac-thuc-tai-khoan"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Thong bao xac thuc email";
}

<h1>@ViewData["Title"]</h1>
<p>
    Hay truy cap vao Email vua dang ky de xac thuc tai khoan
</p>

