@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Dat lai mat khau thanh cong";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ban da thay doi mat khau thanh cong. Vui long <a asp-page="./Login">bam vao day</a> de dang nhap.
</p>
